body {
  background: #141414;
  color: white;
  font-family: sans-serif;
  margin-left: 30px;
}

.name{
  text-align: right;
}
.red{
  background: #FF4330;
  border: 1px solid black;
  padding: 50px 75px 50px 75px;
  float: left;
  margin: 15px 15px 0px 0px;
}

.blue{
  background: #00A6E2;
  border: 1px solid black;
  padding: 50px 75px 50px 75px;
  float: left;
  margin: 15px;
}

.orange{
  background: #FE6D00;
  border: 1px solid black;
  padding: 50px 75px 50px 75px;
  float: left;
  margin: 15px;
}

.pink{
  background: #E845E0;
  border: 1px solid black;
  padding: 50px 75px 50px 75px;
  float: right;
  margin: 15px 30px 0px 0px;
  width: 20%;
  height: 10%;
}

.left{
  background: #222222;
  border: 2px solid black;
  padding: 0px 15px 0px 15px;
  float: left;
  margin: 0px;
  width: 45%;
}

.right{
  background: #222222;
  border: 2px solid black;
  float: right;
  margin: 0px 25px 0px 0px;
  padding: 0px 15px 5px 13px;
  width: 45%;
  height: 95px;
}

h4{
  text-align: center;
  margin-right: 225px;
  float: right;
}
.downloads{
  float: left;
  text-align: left;
}

.support{
  float: left;
  text-align: left;
}

.categories{
  float: left;
  text-align: left;
}

.post{
  float: right;
  text-align: left;
}

.foot{
  text-align: center;
}
